
.checkout-section {
    padding: 80px 0;
    min-height: 70vh;
}
.checkout-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    margin-top: 30px;
    padding-bottom:30px;
}
.section-subtitle {
    color: var(--primary);
    font-size: 1.5rem;
    margin-bottom: 25px;
    font-weight: 600;
}
.cart-items-section {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.cart-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.checkout-summary-section {
    position: sticky;
    top: 100px;
    height: fit-content;
}

.summary-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 1rem;
}

.summary-row span:first-child {
    color: #666;
}

.summary-value {
    color: var(--dark);
    font-weight: 600;
}

.summary-divider {
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}

.total-row {
    font-size: 1.3rem;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 2px solid var(--primary);
}

.total-value {
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
}

.buy-btn {
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 1s;
}

.buy-btn:hover {
    background: black;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(139, 69, 19, 0.3);
}

.buy-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
    transform: none;
}
.section-title{
    text-align: center;
    font-weight:bold;
    font-size:26px;
    margin-bottom: 15px;
    padding-top:15px;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--primary);
}
.product-card {
    height:340px;
    min-width:250px;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    display:flex;
    flex-direction: column;
}
.product-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-img {
    flex:1;
    overflow: hidden;
    width:100%;
}
.img{
    object-fit: contain;
    width:100%
}
.product-info {
    flex:1;
    padding: 20px;
}
.product-info h3 {
    margin-bottom: 10px;
    text-align: center;
    color: var(--dark);
}
.product-price {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dashed #ddd;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
.product-cash{
    color:var(--primary);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}